! special
*.foreground:   #746c48
*.background:   #170f0d
*.cursorColor:  #746c48

! black
*.color0:       #392925
*.color8:       #544b2e

! red
*.color1:       #98724c
*.color9:       #af652f

! green
*.color2:       #908f32
*.color10:      #c3c13d

! yellow
*.color3:       #aa964c
*.color11:      #c8b55b

! blue
*.color4:       #7b854e
*.color12:      #70a16c

! magenta
*.color5:       #6b5644
*.color13:      #98724c

! cyan
*.color6:       #5c5142
*.color14:      #778725

! white
*.color7:       #c8b55b
*.color15:      #e4dc8c



URxvt*font: xft:DejaVuSansMono:size=9:antialias=true
URxvt*letterSpace: -1
URxvt*borderLess: false
URxvt*borderColor: #746c48
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000


URxvt*perl-ext-common: default,tabbedex

URxvt.keysym.Control-Shift-N: perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-J: perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right

URxvt*tabbedex.tabbar-fg: 94
URxvt*tabbedex.tabbar-bg: 236
URxvt*tabbedex.tab-fg: 100
URxvt*tabbedex.tab-bg: 236
URxvt*tabbedex.transparent:true
URxvt*tabbedex.new-button: false
